

/*custom*/

@import url(custom.css);


/*tree reset*/

ul.tree,
ul.tree * {
font:13px/15px 'Helvetica Neue', sans-serif;
padding:0;
margin:0;
border:0;
offset:0;
vertical-align:baseline;
list-style:none;
text-rendering:optimizeLegibility;
-webkit-text-size-adjust:none;
-webkit-tap-highlight-color:transparent }


/*tree*/

ul.tree {
position:relative }

ul.tree li {
position:relative }


ul.tree.noCheckbox li.checked>a.title,
ul.tree.noCheckbox li.checked>a.title>em,
ul.tree.noCheckbox li.checked>a.title>h3 {
	font-weight: bold;
}

ul.tree li a,
ul.tree li label,
ul.tree li h3 {
padding-top:3px;
cursor:pointer;
display:block;
min-height:17px;
text-decoration:none }

ul.tree li h3 {
padding-top:0 }

ul.tree li a.align + a, ul.tree li a.align + label {
padding-left: 15px;
}

ul.tree li a + a, ul.tree li a + label {
color: #444;
padding-left: 15px;
}

ul.tree li a.align {
	position: absolute;
	left: 0;
	float: left;
}

ul.tree li a {
color:#444 }

ul.tree li a:hover,
ul.tree li label:hover em,
ul.tree li a:focus,
ul.tree li label:focus em {
text-decoration:underline }

ul.tree li a:active,
ul.tree li label:active em {
text-decoration:none }

ul.tree ul {
padding-left:20px }

ul.tree a.openClose {
padding:0;
position:absolute;
opacity:.5;
border:none;
top:3px;
float:left;
min-height:15px;
height:15px;
width:15px }

ul.tree a.openClose:hover {
opacity:1 }

ul.tree a.openClose:before {
content:"";
position:absolute;
top:2px;
left:0;
width:0;
height:0;
border-top:5px solid transparent;
border-bottom:5px solid transparent;
border-left:8px solid #333;
-webkit-transform:rotate(360deg);
   -moz-transform:rotate(360deg);
        transform:rotate(360deg) }

ul.tree li.open > a.openClose:before {
top:3px;
border-bottom:none;
border-left:5px solid transparent;
border-right:5px solid transparent;
border-top:8px solid #333 }

ul.tree .title a.openClose:before {
top:3px }

ul.tree li.title.open > a.openClose:before {
top:4px }

ul.tree .title a:hover h3,
ul.tree .title a:hover + a h3 {
text-decoration:underline;
color:#444 }

ul.tree .title a:active + a h3 {
text-decoration:none }

.tree li.folder > ul {
display:none }

.tree li.folder.open > ul {
display:block }

ul.tree li label input {
float:left;
width:20px;
display:inline-block;
position:relative;
top:1px;
left:-2px;
cursor:pointer }

ul.tree li label input[type=checkbox][disabled]{
  cursor:default;
}

.tree li.title > h3 {
cursor:inherit }

.tree li.title > h3,
.tree li.title > a h3 {
font-size:12px;
color:#999;
font-weight:700;
text-transform:uppercase;
position:relative;
top:1px }

.tree li.title.hover > a {
opacity:1 }

.tree li i {
margin-right:1px;
display:table-cell;
vertical-align:middle;
float:left;
width:20px;
height:20px;
position:relative;
top:-3px }

.tree li i img {
max-height:20px;
max-width:20px;
vertical-align:middle }

.tree li.selected > a,
.tree label.selected {
color:#fff;
background:#4077d4;
-webkit-box-shadow:-3px 0 0 #4077d4;
   -moz-box-shadow:-3px 0 0 #4077d4;
        box-shadow:-3px 0 0 #4077d4 }

/*.tree li.selected > a i:before,
.tree label.selected > input + i:before {
color:#fff }*/

@font-face {
font-family:'icons';
src:
url("font/icons.eot");
src:
url("font/icons.eot?#iefix") format('embedded-opentype'),
url("font/icons.woff") format('woff'),
url("font/icons.ttf") format('truetype'),
url("font/icons.svg#icons") format('svg');
font-weight:normal;
font-style:normal }

.tree i:before {
font-family:'icons';
font-style:normal;
font-weight:normal;
font-size:16px;
line-height:20px;
width:20px;
speak:none;
display:inline-block;
text-decoration:inherit;
color:#82abc5 }

.tree i.default:before {
content:'\66' }

.tree .open > a + a i.default:before {
content:'\46' }

.tree .title > a + a i:before {
line-height:22px }

.tree i.yellow:before {
color:#e9cf2b }

.tree i.purple:before {
color:#853187 }

.tree i.red:before {
color:#c52437 }






/*custom*/

@import url(custom.css);

